name: networkAlignmentAnalysis
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pip
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - numpy
  - scipy
  - scikit-learn
  - matplotlib
  - tqdm
  - ipykernel
  - pip:
    - wandb
    - black
    - gitignore_parser
